<div id="footer-content">

<div id='license-on-footer'>

<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/deed.pt_BR" id="footer-cc"><span>Licença Creative Commons</span></a>
Todo o conteúdo e dados do Portal da FJERN estão disponíveis sob a licença <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/deed.pt_BR">Creative Commons Atribuição-Compartilhada-Igual (CC BY-SA 4.0)</a>, exceto quando especificado em contrário e nos conteúdos replicados de outras fontes.
</div>

<p id="powered-by-noosfero">
Este site utiliza o software livre <a href="http://noosfero.org">Noosfero</a>, licenciado pela <a href="http://www.gnu.org/licenses/agpl-3.0.html">GNU Affero General Public License, versão 3 ou superior</a>.
</p>

</div>
<!-- fim id="footer-content" -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60492280-1', 'auto');
  ga('send', 'pageview');

</script>

<!-- Barra de Pesquisa -->

<script type="text/javascript">
  jQuery(".date").each(function() {
    var d = jQuery(this).text().split(/,? /);
    <% if html_language == 'pt' %>
      var month = d[0];
      var day = d[1];
    <% else %>
      var month = d[1];
      var day = d[0];
    <% end %>
  });
  jQuery("#user").prependTo("#conecte-se");
  jQuery("#top-search").prependTo("#wrap-2");
  jQuery(".link-list-block li a").append("<span class='link-this-page-background'>&nbsp;</span>");
</script>
