<div id="fisl-header">
  <h2 id="fisl12-logo">
    <a href="<%= '/' %>">
      <span>FJERN - Judô RN</span>
    </a>
  </h2>

  <div id="fisl-info">
    <div id="fisl-data"> Federação de Judô do Estado do Rio Grande do Norte</div>
    <div id="fisl-local"> judorn.org</div>
  </div>

  <div id="fisl-menu">
    <ul>
      <li id="first-item"><a href="<%= '/' %>"><span>Capa</span></a></li>
      <li><a href="<%= '/' + 'fjern' + '/fjern' %>"><span>FJERN</span></a></li>
      <li><a href="<%= '/' + 'fjern' + '/noticias' %>"><span>Notícias</span></a></li>
      <li><a href="<%= '/' + 'fjern' + '/videos' %>"><span>Vídeos</span></a></li>
      <li><a href="<%= '/' + 'fjern' + '/calendario' %>"><span>Calendário</span></a></li>
      <li><a href="<%= '/' + 'fjern' + '/onde-treinar' %>"><span>Onde Treinar</span></a></li>
      <li><a href="<%= '/' + 'fjern' + '/selecoes' %>"><span>Seleções</span></a></li>
      <li><a href="<%= '/' + 'fjern' + '/arbitragem' %>"><span>Arbitragem</span></a></li>
      <li id="last-item"><a href="<%= '/' + 'fjern' + '/contato' %>"><span>Contato</span></a></li>
    </ul>
  </div>
  
  <div id="fisl-search">
    <% form_tag( { :controller => 'profile_search', :profile => '2015'}, :method => 'get', :class => 'search_form' ) do %>
      <%= text_field_tag 'q', @q, :title => _("Find in %s's content") % '2015', :class => 'box' %>
      <%#= submit_tag %>
      <button class="btn"><%= _('Search') %></button>
    <% end %>

  </div>
</div>
